body {
    background-color: #2A2E37;

}

.head-section {
    margin-top: 20px;
    margin-bottom: 15px;
}

.foot-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.url-add,
.url-clear-all,
.url-save {
    float: right;
    margin-right: 10px;
}

.url-section {
    border: 3px solid #00FEDE;
    border-radius: 12px;
    padding: 5px;
}

.input-section {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.url-input {
    flex: 1;
    width: 100%;
    background-color: #242628;
}

.url-delete {
    /* item styles */
}

.message {
    color: #000000;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
}

.message.error {
    background: lightcoral;
    border: 1px solid brown;
}

.message.success {
    background: lightgreen;
    border: 1px solid green;
}

.message.warning {
    background: lightgoldenrodyellow;
    border: 1px solid yellow;
}