body {
  min-width: 200px;
  height: 50px;
  background-color: #2A2E37;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 20px;
}

.error {
  top: 45px;
  width: 100%;
  position: relative;
  margin-top: 40px;
}

.error-btn {
  color: red;
  float: right;
  border: none;
  background: none;
  cursor: pointer;
}

.search {
  width: 100%;
  position: relative;
}

.search-term {
  float: left;
  width: 100%;
  border: 3px solid #00FEDE;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #fff;
  background-color: #242628;
}

.search-term:focus {
  color: cyan;
}

.search-button {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00FEDE;
  background: #00FEDE;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}